body {
	border: 20px solid #607780;
	width: 650px;
	margin: auto;
}

h2 {
	color: #344967;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin-left: 15px;
	margin-right: 15px;
}

.date {
	color: #B94B29;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	margin-right: 15px;

}

/*First paragraphs in each section*/
.one {
	border-left: 4px solid #607780;
	margin-left: 15px;
	margin-right: 15px;
}

hr {
	margin-left: 15px;
	margin-right: 15px;
}