body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: #d2dc9d;
  background-image: url(images/blackgoose.png);
  background-position: center 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: rgb(255, 255, 255, .5);
  background: url(images/purpledot.png) left top repeat-y, url(images/purpledot.png) right top repeat-y, url(images/gooseshadow.png) 90% bottom no-repeat;
  /*background-repeat: repeat-x;
  background-position: center top;*/
  }
  
a {
  text-decoration: none;
  color: rgb(153, 51, 153);
}
/*When you use all 5 pseudo classes to apply styles to a elements you must have them in the correct order, which is: a:link, a:visited, a:focus, a:hover, a:active. The correct order allows them to work properly.*/
a:visited {
  color: #937393;
}

a:focused {
  color: #937393;
}

a:hover {
  color: #c700f2;
  background-color: #fff;
}

a:active {
  color: #ff00ff;
  background-color: rgb(255, 255, 255);
}

h1 {
  font: bold 1.5em Georgia, serif;
  color: rgb(153, 51, 153);
  text-shadow: .1em .1em .2em gray;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #cc6600;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}